<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reteno.core">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!-- TODO If using Sentry In client application the !!!tools:node="replace"!!! should be added for meta-data android:name="io.sentry.dsn"-->
        <!-- TODO <meta-data tools:node="replace" android:name="io.sentry.dsn" android:value="https://dsn_here"/> -->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://dsn_here" />
    </application>
</manifest>